<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <title>{% block title %}Gestão de Utentes{% endblock %}</title>
  {% assets
  "lib/bootstrap/css/bootstrap.css",
  "vendor/fontawesome-free-5.10.1-web/css/fontawesome.css",
  "vendor/fontawesome-free-5.10.1-web/css/solid.css",
  output="dist/sirhabase.css", filters="cssrewrite,cssutils" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}

  {% block css_assets %}{% endblock %}
</head>
<body class="container-fluid">
    <menu class="row">
        <nav class="navbar navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <img id="logo" class="navbar-brand" src="/static/img/{{ request.registry.settings['ara'] }}_navbar.png" alt="Logo">
                </div>

                <ul class="nav navbar-nav">
                    <li><a href="{{request.route_url('exploracao-search')}}">
                        <strong>LICENÇAS E UF</strong>
                    </a></li>
                    {% if request.has_permission(perm.PERM_FACTURACAO) %}
                    <li><a href="{{request.route_url('facturacao')}}">
                        <strong>FACTURAÇÃO</strong>
                    </a></li>
                    {% endif %}

                  <li class="menu-group">&nbsp;</li>

                    {% if not is_single_user_mode() and request.has_permission(perm.PERM_CREATE_REQUERIMENTO) %}
                    <li><a href="{{request.route_url('requerimento-new')}}">
                        <strong>CRIAR</strong>
                    </a></li>
                    {% endif %}
                    {% if not is_single_user_mode() and request.has_permission(perm.PERM_REQUERIMENTO) %}
                    <li><a href="{{request.route_url('requerimento-pendente')}}">
                        <strong>NOVAS LICENÇAS</strong>
                    </a></li>
                    {% endif %}
                    {% if not is_single_user_mode() and request.has_permission(perm.PERM_EM_PROCESSO) %}
                    <li><a href="{{request.route_url('exploracao-search')}}?em_processo">
                        <strong>EM PROCESSO</strong>
                    </a></li>
                    {% endif %}
                    {% if not is_single_user_mode() and request.has_permission(perm.PERM_RENOVACAO) %}
                    <li><a href="{{request.route_url('renovacao')}}">
                        <strong>RENOVAÇÕES</strong>
                    </a></li>
                    {% endif %}
                      <li class="menu-group"><a>&nbsp;</a></li>
                    {% if not is_single_user_mode() and request.has_permission(perm.PERM_GET_USAGE_COMMON) %}
                    <li><a href="{{request.route_url('exploracao-search')}}?ambos_usos">
                        <strong>EXPLORAÇÕES</strong>
                    </a></li>
                    {% endif %}
                    <li><a href="{{request.route_url('utentes')}}">
                        <strong>UTENTES</strong>
                    </a></li>

                    <li class="menu-group">&nbsp;</li>

                    {% if request.has_permission(perm.PERM_PAGE_ADICIONAR_USOS_COMUNS)
                          or request.has_permission(perm.PERM_PAGE_ADICIONAR_UTENTE_FACTO)
                          or request.has_permission(perm.PERM_PAGE_ADICIONAR_EXPLORACAO)
                          or request.has_permission(perm.PERM_UPDATE_CULTIVO_TANQUE)
                    %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                          aria-expanded="false"><strong>ADICIONAR <span class="caret"></span></strong></a>
                        <ul class="dropdown-menu">
                          {% if request.has_permission(perm.PERM_PAGE_ADICIONAR_USOS_COMUNS) %}
                          <li><a href="{{request.route_url('adicionar_usos_comuns')}}"><strong>UTENTE DE USOS COMUNS</strong></a></li>
                          {% endif %}
                          {% if request.has_permission(perm.PERM_PAGE_ADICIONAR_UTENTE_FACTO) %}
                          <li><a href="{{request.route_url('adicionar_utente_facto')}}"><strong>UTENTE DE FACTO</strong></a></li>
                          {% endif %}
                          {% if request.has_permission(perm.PERM_PAGE_ADICIONAR_EXPLORACAO) %}
                          <li><a href="{{request.route_url('adicionar_exploracao')}}"><strong>EXPLORAÇAO</strong></a></li>
                          {% endif %}
                          {% if request.has_permission(perm.PERM_UPDATE_CULTIVO_TANQUE) %}
                          <li><a href="{{request.route_url('exploracao-gps')}}"><strong>GEOMETRIA</strong></a></li>
                          {% endif %}
                        </ul>
                    </li>
                    {% endif %}

                    <li class="menu-group">&nbsp;</li>

                    {% if not is_single_user_mode() %}
                    <li><a href="{{request.route_url('facturacao-stats')}}">
                        <strong>ESTATÍSTICAS</strong>
                    </a></li>
                    {% endif %}

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        {% if not is_single_user_mode() %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><span id="user-info">{{request.user.username}}</span><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a id="user-info-link" href="{{request.route_url('user')}}">Perfil</a></li>
                          <li class="uilib-enability uilib-show-role-administrador"><a href="{{request.route_url('users')}}">Utilizadores</a></li>
                          <li id="nav-settings" class="uilib-enability uilib-show-role-administrador"><a href="#">
                            Configuração&nbsp;<i class="fas fa-cog"></i>
                          </a></li>
                          <li role="separator" class="divider"></li>
                          <li class="dropdown-header"></li>
                          <li><a href="{{request.route_url('logout')}}">Fechar sessão</a></li>
                        </ul>
                        {% else %}
                        <li id="nav-settings"><a href="#">
                          Configuração&nbsp;<i class="fas fa-cog"></i>
                        </a></li>
                        {% endif %}
                    </li>

                </ul>
            </div>
        </nav>
    </menu>
{% block main_block %}{% endblock%}

{# Useful JavaScript #}
{% include 'set-ara-variable.jinja2' %}

{% assets
"iauth.js",
"tenant-custom-code.js",
"services/id_service.js",
output="dist/commoncode.js", filters="strict_mode, rjsmin" %}
    <script src="{{ ASSET_URL }}"></script>
{% endassets %}

{% assets
"vendor/Numeral-js-2.0.6/numeral.js",
"vendor/Numeral-js-2.0.6/locales.js",
output="dist/commonlibs.js", filters="strict_mode, rjsmin" %}
    <script src="{{ ASSET_URL }}"></script>
{% endassets %}


<script>
    {# Highlight selected menu item #}
    var activeMenuEl = document.querySelector("a[href='{{request.url}}']")
    activeMenuEl && activeMenuEl.classList.add('active');
</script>

{% block js_assets %}{% endblock %}

</body>
</html>
