{% extends "base.jinja2" %}
{% block css_assets %}
<link rel="stylesheet" type="text/css" href="/static/vendor/leaflet-1.6.0/leaflet.css">
{% assets
"lib/leaflet-table/src/leaflet-table.css",
"lib/leaflet-table/vendor/leaflet-toolbar-0.4.0-alpha.2/leaflet.toolbar-src.css",
output="dist/myleaflettable.css", filters="cssrewrite,cssutils" %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}

<link rel="stylesheet" type="text/css" href="/static/offline/sixhiara-labels.css" />
<link rel="stylesheet" type="text/css" href="/static/css/exploracao-gps.css">
<link rel="stylesheet" type="text/css" href="/static/css/base.css">
{% endblock css_assets %}

{% block main_block %}
<main>
  <section class="row">
    <div id="map-pane" class="col-xs-12">
      <input id="input-importgpx" type="file" accept=".gpx, .GPX" />
    </div>
  </section>

</main>
{% endblock main_block %}

{% include 'gpsmodalview_include.jinja2' %}
{% include 'addcoordinatesmodalview_include.jinja2' %}

{% block js_assets %}
    <!-- javascript -->


    {% assets

    "lib/moment-2.11.2/moment-with-locales.js",
    "vendor/leaflet-1.6.0/leaflet-src.js",
    "monkey-patching/index.js",
    "lib/schema-validator/validator.js",
    "lib/formatter/formatter.js",
    output="dist/exploracao-gps.js", filters="strict_mode, rjsmin" %}
    <script src="{{ ASSET_URL }}"></script>
    {% endassets %}


    <script src="/static/lib/backbone-geojson/Feature.js"></script>
    <script src="/static/lib/backbone-geojson/FeatureCollection.js"></script>

    <script src="/static/lib/backbone-uilib/models/Domain.js"></script>
    <script src="/static/lib/backbone-uilib/models/DomainCollection.js"></script>
    <script src="/static/lib/backbone-uilib/views/OptionView.js"></script>
    <script src="/static/lib/backbone-uilib/views/SelectView.js"></script>
    <script src="/static/lib/backbone-uilib/views/WidgetsView.js"></script>
    <script src="/static/lib/backbone-uilib/views/ModalView.js"></script>

    {% assets
    "lib/leaflet-table/vendor/shapefile-js-3.5.0/dist/shp.js",
    "lib/leaflet-table/vendor/tmcw-togeojson-4.1.0/togeojson.umd.js",
    "lib/leaflet-table/vendor/leaflet-toolbar-0.4.0-alpha.2/leaflet.toolbar-src.js",
    "lib/leaflet-table/src/leaflet-table.js",
    "lib/leaflet-table/src/actions/addCoordinates.js",
    "lib/leaflet-table/src/actions/AddCoordinatesModalView.js",
    "lib/leaflet-table/src/actions/clear.js",
    "lib/leaflet-table/src/actions/delete.js",
    "lib/leaflet-table/src/actions/endSession.js",
    "lib/leaflet-table/src/actions/importgpx.js",
    "lib/leaflet-table/src/actions/makepolygon.js",
    "lib/leaflet-table/src/actions/movetotop.js",
    "lib/leaflet-table/src/actions/savetoapi.js",
    "lib/leaflet-table/src/actions/GPSModalView.js",
    "lib/leaflet-table/src/editionmap.js",
    output="dist/myleaflettable.js", filters="strict_mode, rjsmin" %}
    <script src="{{ ASSET_URL }}"></script>
    {% endassets %}



    <script src="/static/Config.js"></script>
    <script src="/static/views/common/ConfigModalView.js"></script>

    <script src="/static/models/Estado.js"></script>
    <script src="/static/models/EstadoCollection.js"></script>


    <script src="/static/models/TanquePiscicola.js"></script>
    <script src="/static/models/TanquePiscicolaCollection.js"></script>
    <script src="/static/models/ActividadeNull.js"></script>
    <script src="/static/models/ActividadeCultivo.js"></script>
    <script src="/static/models/CultivoCollection.js"></script>
    <script src="/static/models/ActividadeRes.js"></script>
    <script src="/static/models/ResCollection.js"></script>
    <script src="/static/models/ActividadeAbastecimento.js"></script>
    <script src="/static/models/ActividadeEnergia.js"></script>
    <script src="/static/models/ActividadeIndustria.js"></script>
    <script src="/static/models/ActividadePecuaria.js"></script>
    <script src="/static/models/ActividadePiscicultura.js"></script>
    <script src="/static/models/ActividadeRegadia.js"></script>
    <script src="/static/models/ActividadeSaneamento.js"></script>
    <script src="/static/models/ActividadesSchema.js"></script>

    <script src="/static/models/Fonte.js"></script>
    <script src="/static/models/FonteSchema.js"></script>
    <script src="/static/models/FonteCollection.js"></script>
    <script src="/static/models/Licencia.js"></script>
    <script src="/static/models/LicenciaSchema.js"></script>
    <script src="/static/models/LicenciaCollection.js"></script>
    <script src="/static/models/Utente.js"></script>
    <script src="/static/models/UtenteSchema.js"></script>
    <script src="/static/models/Factura.js"></script>
    <script src="/static/models/FacturaCollection.js"></script>
    <script src="/static/models/Exploracao.js"></script>
    <script src="/static/models/ExploracaoSchema.js"></script>
    <script src="/static/models/ExploracaoCollection.js"></script>
    <script src="/static/models/ActividadeCultivo.js"></script>
    <script src="/static/models/CultivoCollection.js"></script>

    <script src="/static/models/Setting.js"></script>


    <script src="/static/offline/MapConfig.js"></script>
    <script src="/static/offline/LayerStyle.js"></script>
    <script src="/static/offline/config-layers.js"></script>
    <script src="/static/offline/offline.js"></script>
    <script src="/static/offline/LayerConfig.js"></script>

    <script src="/static/MyWorkflow.js"></script>
    <script src="/static/exploracao-gps.js"></script>

{% endblock js_assets %}
