{% extends "base.jinja2" %}
{% block css_assets %}
  {% assets
  "css/exploracao-new.css",
  "css/base.css",
  output="dist/exploracao-new.css", filters="cssrewrite,cssutils" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock css_assets %}
{% block main_block %}

{% import 'utente-form.jinja2' as utente_form with context%}

<main>
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8">
      <div class="row text-center">
        {% if next_state %}
        <h1 class="col-xs-12">Adicionar Exploração ({{ next_state }})
        {% else %}
        <h1 class="col-xs-12">Adicionar Exploração
        {% endif %}
          <button id="save-button" type="button" class="btn btn-primary pull-right">Adicionar</button>
        </h1>
      </div>
      <div class="row">
        <form  class="col-xs-12">
          <div id="wizard-exp" >
            <ul class="hide">
              <li><a href="#utente" data-toggle="tab">Utente</a></li>
              <li><a href="#info" data-toggle="tab">Info</a></li>
              <li><a href="#licencia" data-toggle="tab">Licencia</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane" id="utente">
                <div class="row">
                  <h3 class="col-xs-1"><i class="fas fa-user"></i></h3>
                  <h3 class="col-xs-11">Utente</h3>
                </div>
                <div class="row">
                  <div class="form-group col-xs-offset-1 col-xs-11">
                    <select id="select-utente" class="form-control">
                      <option selected value="novo"> - Novo utente - </option>
                    </select>
                  </div>
                </div>
                {{utente_form.utente_form("col-xs-6")}}
              </div>
              <div class="tab-pane" id="info">
                <div class="row">
                  <h3 class="col-xs-1"><i class="fas fa-info"></i></h3>
                  <h3 class="col-xs-11">Informação</h3>
                </div>
                <div class="row">
                  <div class="col-xs-offset-1 col-xs-11">
                    <div id="form-exp_id-warning-message" class="alert alert-warning alert-dismissible" style="display: none;">
                      <strong>Atenção!</strong> Existe outro requerimento com o mesmo <strong>Nro de exploração</strong>.
                    </div>
                    <div id="form-exp_name-warning-message" class="alert alert-warning alert-dismissible" style="display: none;">
                      <strong>Atenção!</strong> Existe outro requerimento com o mesmo <strong>Nome de exploração</strong>.
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <div class="col-xs-5">
                          <div class="row">
                            <div class="form-group">
                              <label for="exp_name">Nro de exploração</label>
                              <input type="text" class="form-control widget" id="exp_id" required>
                            </div>
                          </div>
                          <div class="row">
                            <div class="form-group">
                              <label for="exp_name">Nome da exploração</label>
                              <input type="text" class="form-control widget" id="exp_name" required>
                            </div>
                          </div>
                          {% if request.registry.settings.get("ara") != 'DPMAIP' %}
                          <div class="row">
                            <div id="actividade-select" class="form-group">
                              <label for="actividade">Tipo de actividade</label>
                              <select id="actividade" class="form-control"></select>
                            </div>
                          </div>
                          {% endif %}
                        </div>
                        <div class="col-xs-offset-1 col-xs-6">
                          {% if request.registry.settings.get("ara") != 'DPMAIP' %}
                          <div class="row">
                            <div class="form-group">
                              {% if next_state == 'Utente de usos comuns' %}
                              <label for="d_soli">Data de cadastramento</label>
                              {% else %}
                              <label for="d_soli">Data de solicitação</label>
                              {% endif %}
                              <input type="text" class="form-control widget-date" id="d_soli" placeholder="dd/mm/yyyy">
                            </div>
                          </div>
                          {% endif %}
                          <div class="row">
                            <div class="form-group">
                              <label for="observacio">Observações sobre linha de água e localizaçao</label>
                              <textarea class="form-control widget" id="observacio" rows="5"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <h3 class="col-xs-1"><i class="fas fa-map-marker-alt"></i></h3>
                  <h3 class="col-xs-11">Localização</h3>
                </div>
                <div class="row">
                  <div class="col-xs-offset-1 col-xs-5">
                    <div class="panel panel-default">
                      <div class="panel-body" id="panel-body-loc-admin">
                        <div class="row">
                          <div class="col-xs-6">
                            <div class="form-group">
                              <label for="loc_provin">Província</label>
                              <select class="form-control widget" id="loc_provin"></select>
                            </div>
                          </div>
                          <div class="col-xs-6">
                            <div class="form-group">
                              <label for="loc_distri">Distrito</label>
                              <select class="form-control widget" id="loc_distri"></select>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-6">
                            <div class="form-group">
                              <label for="loc_posto">Posto administrativo</label>
                              <select class="form-control widget" id="loc_posto"></select>
                            </div>
                          </div>
                          <div class="col-xs-6">
                            <div class="form-group">
                              <label for="loc_nucleo">Bairro</label>
                              <input type="text" class="form-control widget" id="loc_nucleo">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                            <div class="form-group">
                              <label for="loc_endere">Endereço</label>
                              <textarea class="form-control widget" id="loc_endere" rows="4"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="panel panel-default">
                      <div class="panel-body" id="panel-body-loc-hidro">
                        {% if request.registry.settings.get("ara") != 'DPMAIP' %}
                        <div class="row">
                          <div class="col-xs-12">
                            <div class="form-group col-xs-12">
                              <label for="loc_unidad">Unidade</label>
                              <select class="form-control widget" id="loc_unidad"></select>
                            </div>
                          </div>
                        </div>
                        {% endif %}
                        <div class="row">
                          <div class="col-xs-12">
                            <div class="form-group col-xs-12">
                              <label for="loc_bacia">Bacia</label>
                              <select class="form-control widget" id="loc_bacia"></select>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                            <div class="form-group col-xs-12">
                              <label for="loc_subaci">Sub-bacia</label>
                              <select class="form-control widget" id="loc_subaci"></select>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                            <div class="form-group col-xs-12">
                              <label for="loc_rio">Rio</label>
                              <input type="text" class="form-control widget" id="loc_rio">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="licencia">
                <div class="row">
                  {% if request.registry.settings.get("ara") != 'DPMAIP' and next_state != 'Utente de usos comuns' %}
                  <h3 class="col-xs-1"><i class="fas fa-tint"></i></h3>
                  <h3 class="col-xs-11">Licenças e fontes</h3>
                  {% else %}
                  <h3 class="col-xs-1"><i class="fas fa-water"></i></h3>
                  <h3 class="col-xs-11">Consumos e fontes</h3>
                  {% endif %}
                </div>
                <div class="row">
                  {% import 'exploracao_new_macros.jinja2' as exploracao_new_macros with context%}
                  {{exploracao_new_macros.licencias("subterranea", "subterrânea")}}
                  {{exploracao_new_macros.licencias("superficial", "superficial")}}

                  <div class=" col-xs-offset-1 col-xs-11">
                    <table class="table table-bordered col-xs-11" id="fontes">
                      <thead>
                        <tr>
                          <th width="23%">Tipo de água</th>
                          <th width="23%">Tipo de fonte</th>
                          <th width="23%">Consumo solicitado <i class="units">(m<sup>3</sup>/mês)</i></th>
                          <th width="27%">Observaçôes</th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class=" col-xs-offset-1 col-xs-11">
                <ul class="pager wizard">
                  <li class="previous"><a href="#">Anterior</a></li>
                  <li class="next"><a href="#">Seguinte</a></li>
                </ul>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>

    <!-- modals -->
      {{exploracao_new_macros.modal_fontes("subterranea", "subterrânea", "Sub")}}
      {{exploracao_new_macros.modal_fontes("superficial", "superficial", "Sup")}}


{% endblock main_block %}

{% block js_assets %}
    <!-- javascript -->
    {% assets

    "lib/jquery/jquery-1.12.0.min.js",
    "lib/bootstrap/js/bootstrap.min.js",
    "vendor/bootbox-5.4.0/bootbox.js",
    "lib/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js",
    "vendor/underscore-1.10.2/underscore.js",
    "vendor/backbone-1.4.0/backbone.js",
    "lib/moment-2.11.2/moment-with-locales.js",

    "monkey-patching/index.js",

    "lib/schema-validator/validator.js",
    "lib/formatter/formatter.js",
    "lib/backbone-geojson/Feature.js",
    "lib/backbone-geojson/FeatureCollection.js",
    "lib/backbone-uilib/models/Domain.js",
    "lib/backbone-uilib/models/DomainCollection.js",
    "lib/backbone-uilib/views/OptionView.js",
    "lib/backbone-uilib/views/SelectView.js",
    "lib/backbone-uilib/views/SelectViewWrapper.js",
    "lib/backbone-uilib/views/WidgetsView.js",
    "lib/backbone-uilib/views/BaseView.js",
    "lib/backbone-uilib/views/ModalView.js",
    "utils/accentNeutralise.js",
    "Config.js",
    "views/common/ConfigModalView.js",

    "models/Fonte.js",
    "models/FonteSchema.js",
    "models/FonteCollection.js",
    "models/TanquePiscicola.js",
    "models/TanquePiscicolaCollection.js",
    "models/Licencia.js",
    "models/LicenciaSchema.js",
    "models/LicenciaCollection.js",
    "models/Utente.js",
    "models/UtenteSchema.js",
    "models/UtenteCollection.js",
    "models/ActividadeRes.js",
    "models/ResCollection.js",
    "models/ActividadeNull.js",
    "models/ActividadeCultivo.js",
    "models/CultivoCollection.js",
    "models/ActividadeNull.js",
    "models/ActividadeAbastecimento.js",
    "models/ActividadeEnergia.js",
    "models/ActividadeIndustria.js",
    "models/ActividadePecuaria.js",
    "models/ActividadePiscicultura.js",
    "models/CultivoCollection.js",
    "models/ActividadeRegadia.js",
    "models/ActividadeSaneamento.js",
    "models/ActividadesSchema.js",
    "models/Estado.js",
    "models/EstadoCollection.js",
    "models/Factura.js",
    "models/FacturaCollection.js",
    "models/Exploracao.js",
    "models/ExploracaoSchema.js",
    "models/ExploracaoCollection.js",
    "models/Expediente.js",

    "views/common/ModalTooltipEstadoLicenciaView.js",
    "views/common/SelectLocationView.js",
    "views/common/SelectBaciaView.js",
    "views/common/ButtonSaveView.js",
    "views/common/SelectActividadeView.js",
    "views/common/SelectUtenteView.js",
    "views/common/RowDeleteButtonView.js",
    "views/new/RowFonteView.js",
    "views/common/TableView.js",
    "views/new/LicenseView.js",
    "views/new/UtenteView.js",
    "views/new/InfoView.js",
    "models/Setting.js",

    "MyWorkflow.js",
    "exploracao-new.js",
    output="dist/exploracao-new.js", filters="strict_mode, rjsmin" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

{% endblock js_assets %}
