{% extends "base.jinja2" %}
{% block css_assets %}
<link rel="stylesheet" type="text/css" href="/static/vendor/leaflet-1.6.0/leaflet.css">
<link rel="stylesheet" type="text/css" href="/static/lib/leaflet-table/src/leaflet-table.css">
<link rel="stylesheet" type="text/css" href="/static/vendor/leaflet-toolbar-0.4.0-alpha.2/leaflet.toolbar-src.css">
<link rel="stylesheet" type="text/css" href="/static/offline/sixhiara-labels.css" />
<link rel="stylesheet" type="text/css" href="/static/css/exploracao-gps.css">
<link rel="stylesheet" type="text/css" href="/static/css/base.css">
{% endblock css_assets %}

{% block main_block %}
<main>
  <section class="row">
    <div id="map-pane" class="col-xs-12">
      <input id="input-importgpx" type="file" accept=".gpx, .GPX" />
    </div>
  </section>
  <script type="text/template" id="modal-gps-add-coordinates-tmpl">
      <div id="addCoordinatesModal" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" style="display: block; padding-right: 15px;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
            <h5 class="modal-title" id="exampleModalLiveLabel">Gerador de pontos por coordenadas</h5>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-offset-1 col-xs-10">
                <div class="row">
                  <div class="col-xs-3">
                    <div class="form-group">
                      <label for="org_x">UTM X / Lng</label>
                      <div class="input-group">
                          <input type="text" class="form-control input_coord" id="org_x" value="" required>
                          <div class="input-group-addon remove-field">&times;</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-3">
                    <div class="form-group">
                      <label for="org_y">UTM Y / Lat</label>
                      <div class="input-group">
                          <input type="text" class="form-control input_coord" id="org_y" value="" required>
                          <div class="input-group-addon remove-field">&times;</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-3">
                    <div class="form-group">
                      <label for="coord_label">Código</label>
                      <div class="input-group">
                          <input type="text" class="form-control input_coord" id="coord_label" value="" required>
                          <div class="input-group-addon remove-field">&times;</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-3">
                    <div class="form-group">
                      <label for="org_srs">Sistema de coordenadas</label>
                      <select class="form-control" id="org_srs" value=""></select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-offset-1 col-xs-10">
                <div class="row">
                  <div class="col-xs-3">
                    <div class="form-group">
                      <input type="text" class="form-control input_coord" id="dest_x" value="" readonly>
                    </div>
                  </div>
                  <div class="col-xs-3">
                    <div class="form-group">
                      <input type="text" class="form-control input_coord" id="dest_y" value="" readonly>
                    </div>
                  </div>
                  <div class="col-xs-3">
                    <div class="form-group">
                      <input type="text" class="form-control input_coord" value="" disabled>
                    </div>
                  </div>
                  <div class="col-xs-3">
                    <div class="form-group">
                      <select class="form-control" id="dest_srs" value=""></select>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-xs-10">
                        <span id="helpBlock_coordinates" class="help-block non-visible" style="padding-top: 2px;">&nbsp;</span>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <!-- <button id="previous-bounds" type="button" class="btn btn-default" disabled>Zoom Anterior</button> -->
            <button id="zoom_to_point" type="button" class="btn btn-default" disabled>Zoom</button>
            <button id="create_point" type="button" class="btn btn-default" disabled>Criar</button>
          </div>
        </div>
      </div>
    </div>
  </script>
  <script type="text/template" id="modal-gps-tmpl">
    <div class="modal fade" id="gpsModalView" tabindex="-1" role="dialog" aria-labelledby="editInfoModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Pechar"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="editInfoModalLabel">Selecione o item</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="form-group col-xs-offset-1 col-xs-4">
                <label for="entidade">Entidade</label>
                <select class="form-control widget" id="entidade"></select>
              </div>
              <div class="form-group col-xs-offset-2 col-xs-4">
                <label for="identificador">Identificador</label>
                <select class="form-control widget" id="identificador"></select>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <div class="row">
              <div class="col-xs-offset-1 col-xs-10">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="okButton">Aceitar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>
</main>
{% endblock main_block %}

{% block js_assets %}
    <!-- javascript -->

    <script src="/static/lib/jquery/jquery-1.12.0.min.js"></script>
    <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/lib/bootbox.min.js"></script>
    <script src="/static/lib/underscore/underscore-min.js"></script>
    <script src="/static/lib/backbone/backbone.js"></script>
    <script src="/static/lib/moment-2.11.2/moment-with-locales.js"></script>
    <script src="/static/vendor/leaflet-1.6.0/leaflet-src.js"></script>

    <script src="/static/monkey-patching/index.js"></script>

    <script src="/static/lib/leaflet-table/lib/togeojson/togeojson.js"></script>
    <script src="/static/vendor/leaflet-toolbar-0.4.0-alpha.2/leaflet.toolbar-src.js"></script>
    <script src='/static/lib/leaflet-table/src/leaflet-table.js'></script>
    <script src='/static/lib/leaflet-table/src/actions/importgpx.js'></script>
    <script src='/static/lib/leaflet-table/src/actions/clear.js'></script>
    <script src='/static/lib/leaflet-table/src/actions/delete.js'></script>
    <script src='/static/lib/leaflet-table/src/actions/makepolygon.js'></script>
    <script src='/static/lib/leaflet-table/src/actions/endSession.js'></script>
    <script src='/static/lib/leaflet-table/src/actions/movetotop.js'></script>
    <script src='/static/lib/leaflet-table/src/actions/savetoapi.js'></script>
    <script src='/static/lib/leaflet-table/src/actions/addCoordinates.js'></script>

    <script src="/static/lib/schema-validator/validator.js"></script>

    <script src="/static/lib/formatter/formatter.js"></script>

    <script src="/static/lib/backbone-geojson/Feature.js"></script>
    <script src="/static/lib/backbone-geojson/FeatureCollection.js"></script>

    <script src="/static/lib/backbone-uilib/models/Domain.js"></script>
    <script src="/static/lib/backbone-uilib/models/DomainCollection.js"></script>
    <script src="/static/lib/backbone-uilib/views/OptionView.js"></script>
    <script src="/static/lib/backbone-uilib/views/SelectView.js"></script>
    <script src="/static/lib/backbone-uilib/views/WidgetsView.js"></script>

    <script src="/static/Config.js"></script>
    <script src="/static/views/common/ConfigModalView.js"></script>

    <script src="/static/models/Estado.js"></script>
    <script src="/static/models/EstadoCollection.js"></script>

    <script src="/static/lib/backbone-uilib/views/ModalView.js"></script>

    <script src="/static/models/TanquePiscicola.js"></script>
    <script src="/static/models/TanquePiscicolaCollection.js"></script>
    <script src="/static/models/ActividadeNull.js"></script>
    <script src="/static/models/ActividadeCultivo.js"></script>
    <script src="/static/models/CultivoCollection.js"></script>
    <script src="/static/models/ActividadeRes.js"></script>
    <script src="/static/models/ResCollection.js"></script>
    <script src="/static/models/ActividadeAbastecimento.js"></script>
    <script src="/static/models/ActividadeEnergia.js"></script>
    <script src="/static/models/ActividadeIndustria.js"></script>
    <script src="/static/models/ActividadePecuaria.js"></script>
    <script src="/static/models/ActividadePiscicultura.js"></script>
    <script src="/static/models/ActividadeRegadia.js"></script>
    <script src="/static/models/ActividadeSaneamento.js"></script>
    <script src="/static/models/ActividadesSchema.js"></script>

    <script src="/static/models/Fonte.js"></script>
    <script src="/static/models/FonteSchema.js"></script>
    <script src="/static/models/FonteCollection.js"></script>
    <script src="/static/models/Licencia.js"></script>
    <script src="/static/models/LicenciaSchema.js"></script>
    <script src="/static/models/LicenciaCollection.js"></script>
    <script src="/static/models/Utente.js"></script>
    <script src="/static/models/UtenteSchema.js"></script>
    <script src="/static/models/Factura.js"></script>
    <script src="/static/models/FacturaCollection.js"></script>
    <script src="/static/models/Exploracao.js"></script>
    <script src="/static/models/ExploracaoSchema.js"></script>
    <script src="/static/models/ExploracaoCollection.js"></script>
    <script src="/static/models/ActividadeCultivo.js"></script>
    <script src="/static/models/CultivoCollection.js"></script>

    <script src="/static/models/Setting.js"></script>
    <script src="/static/views/gps/GPSModalView.js"></script>
    <script src="/static/views/gps/AddCoordinatesModalView.js"></script>

    <script src="/static/offline/MapConfig.js"></script>
    <script src="/static/offline/LayerStyle.js"></script>
    <script src="/static/offline/config-layers.js"></script>
    <script src="/static/offline/offline.js"></script>
    <script src="/static/offline/LayerConfig.js"></script>

    <script src="/static/MyWorkflow.js"></script>
    <script src="/static/exploracao-gps.js"></script>

{% endblock js_assets %}
