
    <section id="filters" class="col-xs-2">

      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <h4>Utente</h4>
          </div>
          <div class="row">
            <select class="form-control widget" id="utente">
            </select>
          </div>
        </div>
      </div>

      {% if request.registry.settings['ara'] != 'DPMAIP' %}
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <h4>Licença</h4>
          </div>
          <div class="row">
            <label for="estado">Estado</label>
            <select class="form-control widget" id="estado">
            </select>
          </div>
          <div class="row">
            <label for="tipo_lic">Tipo</label>
            <select class="form-control widget" id="tipo_lic">
            </select>
          </div>
          <div class="row">
            <label for="tipo_agua">Tipo de Água</label>
            <select class="form-control widget" id="tipo_agua">
            </select>
          </div>
        </div>
      </div>
      {% endif %}

      {% if request.registry.settings['ara'] != 'DPMAIP' %}
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <h4>Localização hidrológica</h4>
          </div>
          <div class="row">
            <label for="loc_unidad">Unidade</label>
            <select class="form-control widget" id="loc_unidad">
            </select>
          </div>
        </div>
      </div>
      {% endif %}

      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <h4>Localização administrativa</h4>
          </div>
          <div class="row">
            <label for="loc_provin">Província</label>
            <select class="form-control widget" id="loc_provin">
            </select>
          </div>
          <div class="row">
            <label for="loc_distri">Distrito</label>
            <select class="form-control widget" id="loc_distri">
            </select>
          </div>
          <div class="row">
            <label for="loc_posto">Posto administrativo</label>
            <select class="form-control widget" id="loc_posto">
            </select>
          </div>
        </div>
      </div>

      {% if request.registry.settings['ara'] != 'DPMAIP' %}
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <h4>Actividade</h4>
          </div>
          <div class="row">
            <select class="form-control widget" id="actividade">
            </select>
          </div>
        </div>
      </div>
      {% endif %}

      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <h4>Geometria</h4>
          </div>
          <div class="row">
            <select class="form-control widget" id="geometria">
                <option value=""></option>
                <option>Sim</option>
                <option>Não</option>
            </select>
          </div>
        </div>
      </div>

  </section>
