{% extends "base.jinja2" %}
{% block title %}ESTATÍSTICAS{% endblock %}
{% block css_assets %}
  {% assets
  "lib/bootstrap/css/bootstrap.css",
  "lib/font-awesome/css/font-awesome.css",
  "lib/DataTables/DataTables-1.10.11/css/dataTables.bootstrap.css",
  "lib/DataTables/FixedHeader-3.1.1/css/fixedHeader.bootstrap.css",
  "lib/DataTables/Responsive-2.0.2/css/responsive.bootstrap.css",
  "lib/DataTables/Buttons-1.5.6/css/buttons.bootstrap.css",
  "css/facturacao-stats.css",
  "css/base.css",
  output="dist/facturacao-stats.css", filters="cssrewrite,cssutils" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock css_assets %}

{% block main_block %}
    <main>
    </main>
{% endblock main_block %}

{% block js_assets %}
    <!-- javascri/static/pt -->
    {% assets
      "node-interaction.js",

      "lib/jquery/jquery-1.12.0.min.js",
      "lib/bootstrap/js/bootstrap.min.js",
      "lib/underscore/underscore-min.js",
      "lib/backbone/backbone.js",
      "lib/moment-2.11.2/moment-with-locales.js",
      "lib/DataTables/DataTables-1.10.11/js/jquery.dataTables.js",
      "lib/DataTables/DataTables-1.10.11/js/dataTables.bootstrap.js",
      "lib/DataTables/FixedHeader-3.1.1/js/dataTables.fixedHeader.js",
      "lib/DataTables/Responsive-2.0.2/js/dataTables.responsive.js",
      "lib/DataTables/Buttons-1.5.6/js/jszip.js",
      "lib/DataTables/Buttons-1.5.6/js/dataTables.buttons.js",
      "lib/DataTables/Buttons-1.5.6/js/buttons.bootstrap.js",
      "lib/DataTables/Buttons-1.5.6/js/buttons.html5.js",
      "lib/locale-sort.js",

      "monkey-patching/index.js",

      "lib/schema-validator/validator.js",
      "lib/formatter/formatter.js",
      "lib/backbone-uilib/models/Domain.js",
      "lib/backbone-uilib/models/DomainCollection.js",
      "lib/chart/chart.js",
      "Config.js",
      "models/Factura.js",
      "models/FacturaCollection.js",
      "models/FacturaStats.js",
      "models/FacturaStatsCollection.js",
      "models/FacturaStatsFilter.js",

      "views/facturacao-stats/FilterDatesView.js",
      "views/facturacao-stats/ViewFacturacaoStatsFilter.js",
      "views/facturacao-stats/ViewFacturacaoStatsTable.js",
      "views/facturacao-stats/ViewFacturacaoStatsChart.js",
      "views/facturacao-stats/ViewFacturacaoStats.js",
      "facturacao-stats.js",

      output="dist/facturacao-stats.js", filters="rjsmin" %}
          <script src="{{ ASSET_URL }}"></script>
      {% endassets %}

  {% endblock js_assets %}
