<!DOCTYPE html>
<html lang="pt">
  <head>
    {% include 'analytics.jinja2' %}
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% assets "lib/bootstrap/css/bootstrap.css", "css/login.css", "css/base.css", output="dist/login.css", filters="cssutils" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}

    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  </head>

  <body>

    <div class="container login">
      <div class="row login_row no-gutter">

        <div class="col-md-6">
          <img src="/static/img/login_side_image.png" class="rounded" alt="Responsive image" style="height: 577px;">
        </div>

        <div class="col-md-6">
          <form class="form-signin" method="post" action="{{request.route_url('login')}}">
            <div class="ara-logo">
              <img src="/static/img/{{request.registry.settings.get("ara")}}_login.png" style="width: 100%;" alt="logo ara">
            </div>
            <div class="form-signin-info">
              <h2 class="form-signin-heading" align="center">{{title}}</h2>
              <input name="user" type="text" class="form-control" placeholder="Utilizador">
              <input name="passwd" type="password" class="form-control" placeholder="Senha">
              <input type="hidden" name="next" value="{{next}}">
              <input type="submit" name="submit" value="Entrar" class="btn btn-primary text-center" style="height: 38px; width: 100%;">
              <!-- height: 38px, para igualar el ancho a los campos user y password -->
            </div>
            <div class="icarto-logo">
              <img src="/static/img/{{request.registry.settings.get("ara")}}_footer.png" style="width: 100%;" alt="logos">
            </div>
          </form>
        </div>

      </div>

    </div>

    {% assets "lib/jquery/jquery-1.12.0.min.js", "lib/bootstrap/js/bootstrap.min.js", output="dist/login.js", filters="rjsmin" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

  </body>
</html>
