<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% assets "lib/bootstrap/css/bootstrap.css", "css/login.css", "css/base.css", output="dist/login.css", filters="cssutils" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}

    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  </head>

  <body>

    <div class="container">

      <form class="form-signin" method="post" action="{{request.route_url('login')}}">
        <img src="/static/img/{{request.registry.settings['ara']}}_logo.png" style="width: 100%" alt="logo ara">
        <h2 class="form-signin-heading">{{title}}</h2>

        <input name="user" type="text" class="form-control" placeholder="Utilizador">
        <input name="passwd" type="password" class="form-control" placeholder="Senha">
        <input type="hidden" name="next" value="{{next}}">
        <input type="submit" name="submit" value="Entrar" class="btn btn-large btn-primary text-center">

        <div style="margin: 0 auto; width: 100%; text-align: center; margin-top: 20px">
            <img src="/static/img/xunta_coop_icarto_1.png" style="width: 100%" alt="logos">
        </div>

      </form>


    </div>

    {% include 'set-ara-variable.jinja2' %}

    {% assets "lib/jquery/jquery-1.12.0.min.js", "lib/bootstrap/js/bootstrap.min.js", output="dist/login.js", filters="rjsmin" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

  </body>
</html>
