<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <title>Gestão de Utentes</title>
  <link rel="stylesheet" type="text/css" href="/static/lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/lib/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/static/lib/leaflet/leaflet.css">
  <link rel="stylesheet" type="text/css" href="/static/lib/leaflet/leaflet.label.css">
  <link rel="stylesheet" type="text/css" href="/static/offline/sixhiara-labels.css">
  <link rel="stylesheet" type="text/css" href="/static/css/requerimento-pendente.css">
  <link rel="stylesheet" type="text/css" href="/static/css/base.css">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

</head>
<body class="container-fluid">

  <menu class="row">
  </menu>

  <main class="main-content row">

    <section id="filters" class="col-xs-2">

      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <h4 class="col-xs-12">Utentes</h4>
          </div>
          <div class="row">
            <select id="utente" class="form-control col-xs-6 widget">
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <h4 class="col-xs-12">Localização</h4>
          </div>
          <div class="row">
            <label for="loc_provin" class="col-xs-4">Província</label>
            <select id="loc_provin" class="form-control col-xs-6 widget">
            </select>
          </div>
          <div class="row">
            <label for="loc_distri" class="col-xs-4">Distrito</label>
            <select id="loc_distri" class="col-xs-6 form-control widget">
            </select>
          </div>
          <div class="row">
            <label for="loc_posto" class="col-xs-12">Posto administrativo</label>
            <select id="loc_posto" class="col-xs-6 form-control widget">
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <h4 class="col-xs-12">Licença</h4>
          </div>
          <div class="row">
            <label for="tipo_agua" class="col-xs-4">Tipo</label>
            <select id="tipo_agua" class="col-xs-6 form-control widget">
            </select>
          </div>

          <div class="row">
            <label for="estado" class="col-xs-4">Estado</label>
            <select id="estado" class="col-xs-6 form-control widget">
            </select>
          </div>

          <div class="row">
            <label for="pagos" class="col-xs-4">Pagamentos</label>
            <select id="pagos" class="col-xs-6 form-control widget-boolean">
            </select>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <h4 class="col-xs-12">Actividade</h4>
          </div>
          <div class="row">
            <select id="actividade" class="col-xs-6 form-control widget">
            </select>
          </div>
        </div>
      </div>

  </section>

  <section id="projects" class="col-xs-3">

    <h1 class="text-center">Explorações <span id="counter" style="font-size: 50%; color:grey"></span></h1>
    <br>

    <ul id="project_list" class="list-unstyled">
    </ul>

  </section>

  <section id="map-container" class="col-xs-7">
    <ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="#insert-data-tab" aria-controls="insert-data-tab" role="tab" data-toggle="tab">Requerimento</a></li>
    <li role="presentation" class="active"><a href="#map-tab" aria-controls="map-tab" role="tab" data-toggle="tab">Mapa</a></li>

  </ul>
  <!-- Tab panes -->
  <div class="tab-content" style="height: 94%">
    <div role="tabpanel" id="insert-data-tab" class="tab-pane" style="height: 100%">
      <div id="insert-data" class="row" style="height: 100%">
        <!-- <h3 class="text-center">Gestión de estado / proceso</h3> -->
      </div>
      <span id="autosave-info"></span>
    </div>
    <div role="tabpanel" id="map-tab" class="tab-pane active" style="height: 100%">
      <div id="map" class="row" style="height: 100%"></div>
    </div>
  </div>

  </section>

</main>

<!-- templates -->
<script type="text/template" id="exploracao-li-tmpl">
  <li class="row exploracao" id="exp_id-<%- exp_id %>">
    <span class="col-xs-12 pull-left" >
      <a href="#"><%- exp_id %> <%- exp_name %></a> <small style="color: grey; font-size: 75%"><%= '(' + (actividade && actividade.tipo || 'Non declarada') + ')' %></small>
      <br>
      <small><%- estado_lic %></small>
      <br>
      <small><%- formatter().formatDate(created_at) %> </small>
      <br>
      <small><%- licencias && licencias[0] && licencias[0].tipo_agua || '-' %> / <%- licencias && licencias[1] && licencias[1].tipo_agua || '-' %></small>
    </span>
  </li>
</script>

<!-- javascri/static/pt -->
<script src="/static/node-interaction.js"></script>
<script src="/static/lib/jquery/jquery-1.12.0.min.js"></script>
<script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/lib/underscore/underscore-min.js"></script>
<script src="/static/lib/backbone/backbone-min.js"></script>
<script src="/static/lib/leaflet/leaflet.js"></script>
<script src="/static/lib/leaflet/leaflet.label-src.js"></script>
<script src="/static/lib/bootbox.min.js"></script>


<script src="/static/lib/moment-2.11.2/moment-with-locales.js"></script>
<script src="/static/lib/numeral-js-1.5.3/min/languages.min.js"></script>
<script src="/static/lib/numeral-js-1.5.3/min/numeral.min.js"></script>
<script src="/static/lib/formatter/formatter.js"></script>

<script src="/static/lib/schema-validator/validator.js"></script>

<script src="/static/lib/backbone-geojson/Feature.js"></script>
<script src="/static/lib/backbone-geojson/FeatureCollection.js"></script>

<script src="/static/lib/backbone-uilib/models/Domain.js"></script>
<script src="/static/lib/backbone-uilib/models/DomainCollection.js"></script>
<script src="/static/lib/backbone-uilib/views/OptionView.js"></script>
<script src="/static/lib/backbone-uilib/views/SelectView.js"></script>
<script src="/static/lib/backbone-uilib/views/WidgetsView.js"></script>
<script src="/static/lib/backbone-uilib/views/ItemView.js"></script>
<script src="/static/lib/backbone-uilib/views/ListView.js"></script>
<script src="/static/lib/backbone-uilib/views/BaseView.js"></script>

<script src="/static/views/common/NavBarView.js"></script>
<script src="/static/views/common/ConfigModalView.js"></script>
<script src="/static/Config.js"></script>

<script src="/static/models/Estado.js"></script>
<script src="/static/models/EstadoCollection.js"></script>

<script src="/static/models/TanquePiscicola.js"></script>
<script src="/static/models/TanquePiscicolaCollection.js"></script>
<script src="/static/models/ActividadeNull.js"></script>
<script src="/static/models/ActividadeCultivo.js"></script>
<script src="/static/models/CultivoCollection.js"></script>
<script src="/static/models/Fonte.js"></script>
<script src="/static/models/FonteSchema.js"></script>
<script src="/static/models/FonteCollection.js"></script>
<script src="/static/models/Licencia.js"></script>
<script src="/static/models/LicenciaSchema.js"></script>
<script src="/static/models/LicenciaCollection.js"></script>
<script src="/static/models/Utente.js"></script>
<script src="/static/models/UtenteSchema.js"></script>
<script src="/static/models/UtenteCollection.js"></script>
<script src="/static/models/ActividadeRes.js"></script>
<script src="/static/models/ResCollection.js"></script>
<script src="/static/models/ActividadeAbastecimento.js"></script>
<script src="/static/models/ActividadeEnergia.js"></script>
<script src="/static/models/ActividadeIndustria.js"></script>
<script src="/static/models/ActividadePecuaria.js"></script>
<script src="/static/models/ActividadePiscicultura.js"></script>
<script src="/static/models/ActividadeRegadia.js"></script>
<script src="/static/models/ActividadeSaneamento.js"></script>
<script src="/static/models/ActividadesSchema.js"></script>
<script src="/static/models/Exploracao.js"></script>
<script src="/static/models/ExploracaoSchema.js"></script>

<script src="/static/models/Where.js"></script>
<script src="/static/models/Fonte.js"></script>
<script src="/static/models/FonteCollection.js"></script>
<script src="/static/models/Licencia.js"></script>
<script src="/static/models/LicenciaCollection.js"></script>
<script src="/static/models/Utente.js"></script>
<script src="/static/models/Exploracao.js"></script>
<script src="/static/models/ExploracaoCollection.js"></script>
<script src="/static/models/Setting.js"></script>

<script src="/static/views/common/SelectLocationView.js"></script>
<script src="/static/views/search/MapView.js"></script>
<script src="/static/views/search/FiltersView.js"></script>
<script src="/static/views/search/ButtonExportXLSView.js"></script>
<script src="/static/views/search/ButtonExportSHPView.js"></script>

<script src="/static/lib/excel-libs/xlsx.core.min.js"></script>
<script src="/static/lib/excel-libs/jszip.min.js"></script>
<script src="/static/lib/excel-libs/FileSaver.js"></script>

<script src="/static/offline/MapConfig.js"></script>
<script src="/static/offline/LayerStyle.js"></script>
<script src="/static/offline/config-layers.js"></script>
<script src="/static/offline/FitToBounds.js"></script>
<script src="/static/offline/offline.js"></script>
<script src="/static/offline/LayerConfig.js"></script>

<script src="/static/lib/shpwrite.js"></script>

<script src="/static/views/common/TabBarTitle.js"></script>

<script src="/static/MyWorkflow.js"></script>
<script src="/static/views/pendentes/View1.js"></script>
<script src="/static/views/pendentes/ViewNoData.js"></script>
<script src="/static/views/pendentes/ViewSecretaria1.js"></script>
<script src="/static/views/pendentes/ViewDocIncompletaAdm.js"></script>
<script src="/static/views/pendentes/ViewSecretaria2.js"></script>
<script src="/static/views/pendentes/ViewJuridico1.js"></script>
<script src="/static/views/pendentes/ViewJuridico2.js"></script>
<script src="/static/views/pendentes/ViewTecnico1.js"></script>
<script src="/static/views/pendentes/ViewJuridicoNotEditable1.js"></script>
<script src="/static/views/pendentes/UpsView.js"></script>
<script src="/static/utils/MyLeafletEvent.js"></script>
<script src="/static/requerimento-pendente.js"></script>


</body>
</html>
