<script>
    SIRHA = {
        _ARA: '{{ request.registry.settings['ara'] }}',
        getARA: function() { return this._ARA; },
        is_single_user_mode: function() { return ['ARAN', 'DPMAIP'].includes(this._ARA); },
    }
</script>
