<script>
    SIRHA = {
        _ARA: '{{ request.registry.settings['ara'] }}',
        getARA: function() { return this._ARA; },
        is_single_user_mode: function() { return ['ARAN', 'DPMAIP'].includes(this._ARA); },
        ESTADO: {
            LICENSED: 'Licenciada',
            DE_FACTO: 'Utente de facto',
            IRREGULAR: 'Irregular',
            USOS_COMUNS: 'Utente de usos comuns',
            PENDING_REVIEW_DIR: 'Pendente Revisão Pedido Licença (Direcção)',
            PENDING_REVIEW_DJ: 'Pendente Análise Pedido Licença (DJ)',
            PENDING_FIELD_VISIT: 'Pendente Visita Campo (DT)',
            PENDING_TECH_DECISION: 'Pendente Parecer Técnico (DT)',
            PENDING_EMIT_LICENSE: 'Pendente Emisão Licença (DJ)',
            PENDING_DIR_SIGN: 'Pendente Firma Licença (Direcção)',

            NOT_EXISTS: 'Não existe',
            UNKNOWN: 'Desconhecido',
            NOT_APPROVED: 'Não aprovada',
            INCOMPLETE_DA: 'Documentação incompleta (Pendente utente - DA)',
            INCOMPLETE_DIR: 'Documentação incompleta (Pendente utente - Direcção)',
            INCOMPLETE_DJ: 'Documentação incompleta (Pendente utente - DJ)',
            INCOMPLETE_DT: 'Documentação incompleta (Pendente utente - DT)',
            INCOMPLETE_DF: 'Documentação incompleta (Pendente utente - DF)',
        },
        ROLE: {
            ADMIN: 'Administrador',
            ADMINISTRATIVO: 'Departamento Administrativo', // DA
            FINANCIERO: 'Departamento Financeiro', // DF
            DIRECCION: 'Direcção',
            TECNICO: 'Departamento Técnico',  // DT
            JURIDICO: 'Departamento Jurídico', // DJ
            OBSERVADOR: 'Observador',
            UNIDAD: 'Unidade ou Delegação',
            SINGLE: 'ROL_SINGLE',
        },
        ESTADO_RENOVACAO: {
            LICENSED: 'Licenciada',
            DE_FACTO: 'Utente de facto',
            IRREGULAR: 'Irregular',
            PENDING_RENOV_LICENSE: 'Pendente Renovação da licença (DA)',
            PENDING_REVIEW_DIR: 'Pendente Revisão Renovação (Direcção)',
            PENDING_REVIEW_DJ: 'Pendente Análise Renovação Licença (DJ)',
            PENDING_TECH_DECISION: 'Pendente Parecer Técnico Renovação (DT)',
            PENDING_EMIT_LICENSE: 'Pendente Emisão Renovação Licença (DJ)',
            PENDING_DADOS_LICENSE: 'Pendente Dados Renovação Licença (DJ)',
            PENDING_DIR_SIGN: 'Pendente Firma Renovação Licença (Direcção)',

            NOT_APPROVED: 'Não aprovada',
            INCOMPLETE_DA:  'Documentação incompleta (Pendente utente - DA)',
            INCOMPLETE_DIR: 'Documentação incompleta (Pendente utente - Direcção)',
            INCOMPLETE_DJ:  'Documentação incompleta (Pendente utente - DJ)',
            INCOMPLETE_DT:  'Documentação incompleta (Pendente utente - DT)',
        },
        ESTADO_FACT: {
            NO: 'Não facturable',
            PAID: 'Pagada',
            PENDING_PAY: 'Pendente Pagamento (DF)',
            PENDING_INVOICE: 'Pendente Emisão Factura (DF)',
            PENDING_M3: 'Pendente Acrescentar Consumo (DT)',
        },
    }
    SIRHA.ESTADO.CATEGORY_POST_LICENSED = [SIRHA.ESTADO.LICENSED, SIRHA.ESTADO.IRREGULAR, SIRHA.ESTADO.DE_FACTO];
    SIRHA.ESTADO.CATEGORY_IN_PROCESS = [SIRHA.ESTADO.PENDING_REVIEW_DIR, SIRHA.ESTADO.PENDING_REVIEW_DJ, SIRHA.ESTADO.PENDING_FIELD_VISIT, SIRHA.ESTADO.PENDING_TECH_DECISION, SIRHA.ESTADO.PENDING_EMIT_LICENSE, SIRHA.ESTADO.PENDING_DIR_SIGN, SIRHA.ESTADO.INCOMPLETE_DA, SIRHA.ESTADO.INCOMPLETE_DIR, SIRHA.ESTADO.INCOMPLETE_DJ, SIRHA.ESTADO.INCOMPLETE_DT, SIRHA.ESTADO.INCOMPLETE_DF];
    SIRHA.ESTADO.CATEGORY_FACTURABLE = [SIRHA.ESTADO.LICENSED, SIRHA.ESTADO.DE_FACTO];
    SIRHA.ESTADO.CATEGORY_VALIDATE_FICHA = [SIRHA.ESTADO.IRREGULAR, SIRHA.ESTADO.LICENSED, SIRHA.ESTADO.PENDING_FIELD_VISIT, SIRHA.ESTADO.PENDING_TECH_DECISION, SIRHA.ESTADO.PENDING_EMIT_LICENSE, SIRHA.ESTADO.PENDING_DIR_SIGN, SIRHA.ESTADO.DE_FACTO, SIRHA.ESTADO.USOS_COMUNS]
    SIRHA.ESTADO.CATEGORY_VALIDATE_ACTIVIY = [SIRHA.ESTADO.UNKNOWN, SIRHA.ESTADO.IRREGULAR, SIRHA.ESTADO.NOT_APPROVED, SIRHA.ESTADO.INCOMPLETE_DA, SIRHA.ESTADO.INCOMPLETE_DIR, SIRHA.ESTADO.INCOMPLETE_DJ, SIRHA.ESTADO.INCOMPLETE_DT, SIRHA.ESTADO.INCOMPLETE_DF, SIRHA.ESTADO.PENDING_REVIEW_DIR, SIRHA.ESTADO.PENDING_REVIEW_DJ, SIRHA.ESTADO.PENDING_FIELD_VISIT]


</script>
