{% extends "base.jinja2" %}
{% block css_assets %}
  {% assets
  "lib/DataTables/DataTables-1.10.11/css/dataTables.bootstrap.css",
  "lib/DataTables/FixedHeader-3.1.1/css/fixedHeader.bootstrap.css",
  "lib/DataTables/Responsive-2.0.2/css/responsive.bootstrap.css",
  "css/utentes.css",
  "css/base.css",
  output="dist/utentes.css", filters="cssrewrite,cssutils" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock css_assets %}

{% block main_block %}
    <main>
      <section id="projects" class="row">
        <div id="the_utentes_table" class="col-xs-12">
          <!-- aquí va la tabla -->
        </div>
      </section>
    </main>
    <!-- templates -->
    {% include 'utente-modal-template.jinja2' %}

{% endblock main_block %}

{% block js_assets %}
    <!-- javascri/static/pt -->
    {% assets
      "node-interaction.js",

      "lib/jquery/jquery-1.12.0.min.js",
      "lib/bootstrap/js/bootstrap.min.js",
      "lib/bootbox.min.js",
      "lib/underscore/underscore-min.js",
      "lib/backbone/backbone.js",
      "lib/moment-2.11.2/moment-with-locales.js",
      "lib/numeral-js-1.5.3/min/languages.min.js",
      "lib/numeral-js-1.5.3/min/numeral.min.js",
      "lib/DataTables/DataTables-1.10.11/js/jquery.dataTables.js",
      "lib/DataTables/DataTables-1.10.11/js/dataTables.bootstrap.js",
      "lib/DataTables/FixedHeader-3.1.1/js/dataTables.fixedHeader.js",
      "lib/DataTables/Responsive-2.0.2/js/dataTables.responsive.js",
      "lib/locale-sort.js",

      "monkey-patching/index.js",

      "lib/schema-validator/validator.js",
      "lib/formatter/formatter.js",
      "lib/backbone-geojson/Feature.js",
      "lib/backbone-geojson/FeatureCollection.js",
      "lib/backbone-uilib/models/Domain.js",
      "lib/backbone-uilib/models/DomainCollection.js",
      "lib/backbone-uilib/views/OptionView.js",
      "lib/backbone-uilib/views/SelectView.js",
      "lib/backbone-uilib/views/WidgetsView.js",
      "lib/backbone-uilib/views/BaseView.js",
      "lib/backbone-uilib/views/ModalView.js",
      "views/common/ConfigModalView.js",
      "Config.js",
      "models/Estado.js",
      "models/Setting.js",
      "models/UtenteSchema.js",
      "models/Utente.js",
      "models/UtenteCollection.js",
      "views/common/SelectLocationView.js",
      "views/utentes/UtenteModal.js",
      "views/utentes/TableUtentes.js",
      "MyWorkflow.js",
      "utentes.js",

      output="dist/utentes.js", filters="rjsmin" %}
          <script src="{{ ASSET_URL }}"></script>
      {% endassets %}

  {% endblock js_assets %}
