{% extends "base.jinja2" %}
{% block css_assets %}
  {% assets
  "vendor/DataTables-1.10.21/DataTables-1.10.21/css/dataTables.bootstrap.css",
  "css/utentes.css",
  "css/base.css",
  output="dist/utentes.css", filters="cssrewrite,cssutils" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock css_assets %}

{% block main_block %}
    <main>
      <section id="projects" class="row">
        <div id="the_utentes_table" class="col-xs-12">
          <!-- aquí va la tabla -->
        </div>
      </section>
    </main>
    <!-- templates -->
    {% include 'utente-modal-template.jinja2' %}

{% endblock main_block %}

{% block js_assets %}
    <!-- javascri/static/pt -->
    {% assets

      "lib/moment-2.11.2/moment-with-locales.js",
      "vendor/DataTables-1.10.21/DataTables-1.10.21/js/jquery.dataTables.js",
      "vendor/DataTables-1.10.21/DataTables-1.10.21/js/dataTables.bootstrap.js",
      "lib/locale-sort.js",

      "monkey-patching/index.js",

      "lib/schema-validator/validator.js",
      "lib/formatter/formatter.js",
      "lib/backbone-geojson/Feature.js",
      "lib/backbone-geojson/FeatureCollection.js",
      "lib/backbone-uilib/models/Domain.js",
      "lib/backbone-uilib/models/DomainCollection.js",
      "lib/backbone-uilib/views/OptionView.js",
      "lib/backbone-uilib/views/SelectView.js",
      "lib/backbone-uilib/views/WidgetsView.js",
      "lib/backbone-uilib/views/BaseView.js",
      "lib/backbone-uilib/views/ModalView.js",
      "views/common/ConfigModalView.js",
      "Config.js",
      "models/Estado.js",
      "models/Setting.js",
      "models/UtenteSchema.js",
      "models/Utente.js",
      "models/UtenteCollection.js",
      "views/common/SelectLocationView.js",
      "views/utentes/UtenteModal.js",
      "views/utentes/TableUtentes.js",
      "MyWorkflow.js",
      "utentes.js",

      output="dist/utentes.js", filters="strict_mode, rjsmin" %}
          <script src="{{ ASSET_URL }}"></script>
      {% endassets %}

  {% endblock js_assets %}
