flake8
flake8-tuple
flake8-builtins
flake8-comprehensions
mccabe
cohesion



pre-commit==1.17.0
black==19.3b0
isort==4.3.21
isort[pyproject]==0.10.0
bandit==1.6.2


# Para que pserve consuma menos recursos
# https://docs.pylonsproject.org/projects/pyramid/en/1.8-branch/whatsnew-1.8.html
watchdog==0.10.2
pyramid-debugtoolbar==4.6.1
selenium



# añadidos
flake8-coding==1.3.2
flake8-debugger==3.2.1
flake8-print==3.1.4
flake8-broken-line==0.2.1

# Están comentados por qué los instala wemake y hay conflicto entre la versión
# de wemake y la última disponible
# flake8-quotes==3.2.0
# pep8-naming==0.11.1
