.sixhiara-leaflet-label-paises {
    color: #000;
    font: 13px/26px "Calibri", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
}

.sixhiara-leaflet-label-postos {
    color: #7d7d7d;
    font: 9px/18px "Calibri", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
}

.sixhiara-leaflet-label-provincias {
    color: #000;
    font: 13px/26px "Calibri", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-shadow: 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff;
}

.sixhiara-leaflet-label-cidades {
    color: #000;
    font: 9px/18px "Calibri", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: normal;
}
