.leaflet-tooltip-top.sixhiara-leaflet-label-points::before,
.leaflet-tooltip-bottom.sixhiara-leaflet-label-points::before,
.leaflet-tooltip-left.sixhiara-leaflet-label-points::before,
.leaflet-tooltip-right.sixhiara-leaflet-label-points::before {
    border: none !important;
}

.sixhiara-leaflet-label-poligons {
    background: none;
    background-color: #fff;
    border: 1px solid #fff;
    border: none;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: none;
    color: #222;
    padding: 6px;
    pointer-events: none;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
}

.sixhiara-leaflet-label-entidadespopulacao {
    background: none;
    border: none;
    box-shadow: none;
    color: #000;
    font: 9px "Calibri", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    font-style: oblique;
    font-weight: bold;
}

.sixhiara-leaflet-label-estacoes {
    background: none;
    border: none;
    box-shadow: none;
    color: #070140;
    font: 11px "Calibri", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    font-style: italic;
    font-weight: normal;
}

.sixhiara-leaflet-label-aras {
    color: #05328c;
    font: 16px "Calibri", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: bold;
    text-shadow: 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff;
}

.sixhiara-leaflet-label-bacias {
    color: #05328c;
    font: 11px "Calibri", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    font-style: italic;
    font-weight: bold;
    text-shadow: 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff;
}

.sixhiara-leaflet-label-paises {
    color: #000;
    font: 12px "Calibri", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    font-style: italic;
    font-weight: bold;
    text-shadow: 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff;
}
