#filters {
    background-color: white;
    border-right: 1px solid #ccc;
    height: 100%;
}

#filters h4 {
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    margin-bottom: 6px;
    margin-top: 11px;
}

/* Form */

#filters .form-control {
    border: 1px solid #ccc;
    box-shadow: none !important;
    margin-bottom: 5px;
    padding: 6px 6px;
}

#filters p,
#filters label {
    color: #7d7d7d;
    margin-bottom: 2px;
    margin-top: 4px;
}

#filters select {
    white-space: nowrap;
}

#filters .two-widget-per-row .col-xs-6:first-child {
    padding-left: 0;
}

#filters .two-widget-per-row .col-xs-6:last-child {
    padding-right: 0;
}

#year-widget-separator {
    margin-left: -7px;
    margin-top: 5px;
    position: absolute;
}
