#block-info,
#block-location,
#block-utente {
    border-top: 1px solid #ddd;
}

#map{
    font-size: 14px;
    height: 36em;
    margin-left: 1em;
    width: 95%;
    margin-bottom: 0.9em;
}

label{ /*override bootstrap settings*/
    font-weight: inherit !important;
}

.title{
    color: #999;
}

/*override bootstrap settings*/
.btn-xs{
    color: #bbb !important;
}
.disabled .btn-xs {
    color: #333 !important;
}


.label{
    font-size: small;
}

/* blocks: colors, margins, paddings */

#map{
    background-color: #eee;
}

.volume-summary{
    background-color: #d9edf7;
    padding: 1em 0;
    margin: 0em;
    border: 1px solid #bce8f1;
}
.volume-summary h3 {
    margin: 0;
}

.volume-license,
.volume-activity{
    margin: 0 .1em 0 .1em
}

#tooltipEstadoLicenciaModalView .done {
    background-color: #eee;
}

#modalContentTanque {
    width: 680px;
}

#panel-body-regadio-consumos {
    margin-bottom: 44%;
}

#block-subterranea.disabled .panel,
#block-superficial.disabled .panel {
    background-color: #eee;
    color: gray;
    cursor: not-allowed;
    border: none;
}
#block-superficial .panel,
#block-subterranea .panel {
    padding-bottom: 10px;
    border: 1px solid #bce8f1;
}
.disabled .lic_nro {
    color: gray;
}
.lic_nro,
.exploracao_info {
    color: #00a2da;
}
