#filters {
    height: 100%;
}

#filters {
    border-right: 1px solid #ccc;
    padding: 0 2em;
}

#filters h4 {
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    margin-bottom: 6px;
    margin-top: 11px;
}

/* Form */

#filters .form-control {
    border: 1px solid #ccc;
    box-shadow: none !important;
    margin-bottom: 5px;
    padding: 6px 6px;
    white-space: normal;
}

/* ----- COLOR SCHEME ----- */

#filters {
    background-color: white;
}

#filters p,
#filters label {
    color: #7d7d7d;
    margin-bottom: 2px;
    margin-top: 4px;
}

#filters .year-widget {
    align-items: center;
    display: flex;
    margin-bottom: 5px;
}

#filters .year-select-widget {
    display: inline-block;
    margin-bottom: 0 !important;
    width: 46%;
}
