#filters{
    height: 100%;
}

#filters {
    border-right: 1px solid #CCC;
    padding: 0em 2em;
}

#filters h4{
    border-bottom: 1px solid #CCC;
    font-weight: bold;
    margin-top: 11px;
    margin-bottom: 6px;
}

/* Form */

#filters .form-control {
    padding: 6px 6px;
    border: 1px solid #CCC;
    box-shadow: none !important;
    margin-bottom: 5px;
    white-space: normal;
}


/* ----- COLOR SCHEME ----- */

#filters{
    background-color: white;
}

#filters p,
#filters label{
    color: #7d7d7d;
    margin-top: 4px;
    margin-bottom: 2px;
}

#filters .year-widget {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

#filters .year-select-widget {
    width: 46%;
    display: inline-block;
    margin-bottom: 0px !important;
}
