html,
body {
    background: white;
    height: 100%;
    width: 100%;
}

section.row {
    height: 94%;
}

#map-pane {
    float: left;
    height: 100%;
    position: absolute;
    width: 100%;
}

/* make actions more visually strong */

.gps-toolbar ul {
    font-size: 1.3em;
}

/* show actions in a horizontal way */
.gps-toolbar li {
    display: inline-block;
}

.remove-field {
    cursor: pointer;
}
