html,
body,
.container-fluid {
    height: 100%;
}

.main-content {
    height: 94%;
}

#projects,
#map-container {
    height: 100%;
}

#insert-data {
    /* height: 65%; */
    overflow-y: auto;
}

#projects {
    overflow-y: scroll;
}

#projects .leaflet-mouseover {
    background-color: rgba(204, 204, 204, 0.3);
}

#projects h2 {
    margin: 0;
    padding-bottom: 0.5em;
    text-align: center;
}

#projects > div {
    border-bottom: 1px solid #f3f3f3;
    margin-bottom: 1em;
}

#projects li {
    border-bottom: 1px solid #f3f3f3;
    margin-bottom: 0;

    /* padding-bottom: 0.1em; */
    padding: 1em 0 0.75em 0;
}

/* ----- TYPOGRAPHY ----- */

body {
    font-family: "Open Sans", sans-serif;
}

a {
    color: #00a2da;
}

a:hover {
    color: #fe8433;
    text-decoration: none;
}

#projects h5 {
    color: #7d7d7d;
}

.feature {
    background-color: #00a2da;
    height: 300px;
    padding: 24px;
}

.myclass {
    margin: 0 auto;
    width: 97%;
}

.tr-parentcheckbox-in-tables > td {
    /* To be applied to the tr */
    border-bottom: 0 !important;
}

.tr-childcheckbox-in-tables > td {
    /* To be applied to the tr */
    border-top: 0 !important;
    font-size: 90%;
    padding-top: 0 !important;
}

.tr-childcheckbox-in-tables > td:first-child {
    /* To be applied to the tr */
    padding-left: 40px;
}
